<div class="window">
  <div class="background" (click)="onBackGroundClicked()"></div>
  <div class="outer-window" #outerWindow>
    <div class="inner-window">
      <div class='card-image'>
        <img alt='{{(editCardWindowCard$ | async)?.url}}' src='{{(editCardWindowCard$ | async)?.url}}'>
      </div>
      <div class='card-title'>
        {{(editCardWindowCard$ | async)?.title}}
      </div>
      <div class='card-date'>
        {{(editCardWindowCard$ | async)?.date}}
      </div>
      <div class='card-description'>
        {{(editCardWindowCard$ | async)?.description}}
      </div>
      <button class='delete-card' (click)='deleteCard()'>
        Delete Card
      </button>
    </div>
  </div>
</div>
