<div class="window">
  <div class="background" (click)="closeWindow()"></div>
  <div class="outer-window" #outerWindow>
    <div class="inner-window">
      <h1>
        Add new card
      </h1>
      <form [formGroup]='addNewCardForm' (ngSubmit)='uploadCard()'>
        <div class='form-group'>
          <label>Name: </label>
          <input type='text' class='name' name='name' formControlName='name'>
          <div class='alert alert-danger' *ngIf='addNewCardForm.controls["name"].invalid && addNewCardForm.controls["name"].touched'>
            Empty name field
          </div>
        </div>
        <div class='form-group'>
          <label>Date: </label>
          <input type='date' class='date' name='date' formControlName='date'>
          <div class='alert alert-danger' *ngIf='addNewCardForm.controls["date"].invalid && addNewCardForm.controls["date"].touched'>
            Empty date field
          </div>
        </div>
        <div class='form-group'>
          <label>Description: </label>
          <textarea class='description' name='description' formControlName='description'></textarea>
          <div class='alert alert-danger' *ngIf='addNewCardForm.controls["description"].invalid && addNewCardForm.controls["description"].touched'>
            Empty description field
          </div>
        </div>
        <div class='form-group'>
          <label>File: </label>
          <input class='file' accept='image/jpeg' type='file' formControlName='file' (change)='onFileChanged($event)'>
          <div class='alert alert-danger' *ngIf='addNewCardForm.controls["file"].invalid && addNewCardForm.controls["file"].touched'>
            Empty file field
          </div>
        </div>
        <div class='form-group'>
          <label>Upload card: </label>
          <button class='button' [disabled]='addNewCardForm.invalid'>Upload card</button>
        </div>
      </form>
    </div>
  </div>
</div>
