<div class="login">
  <h1>Войдите</h1>
  <div class="login-form">
    <div class="login-container">
      <label for="login-email">Почта: </label>
      <input class="email-input" id="login-email" #emailInput>
    </div>
    <div class="password-container">
      <label for="login-password">Пароль: </label>
      <input class="password-input" id="login-password" #passwordInput>
    </div>
  </div>
  <button class="submit" #loginSubmitButton>Войти</button>
  <a class="to-registration anchor" #toRegistrationButton>Еще нет аккаунта</a>
</div>
