@use "src/base";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: base.$card-adaptive-height-full-hd;
  width: base.$card-adaptive-width-full-hd;
  background-color: wheat;
  transition: all 0.1s linear;

  .content {
    margin-top: base.$content-adaptive-margin-top;
    width: base.$card-image-adaptive-width-full-hd;
  }

  .img {
    height: base.$card-image-adaptive-height-full-hd;
    background-color: coral;
  }
}
