// Dimensions
$adaptive-full-hd-coefficient-width: 100 / 1920 / 100 * 100vw;
$adaptive-full-hd-coefficient-height: 100 / 1080 / 100 * 100vh;

// Adaptive container width
$container-adaptive-full-hd-width: $adaptive-full-hd-coefficient-width * 1280;

// Unified margin
$unified-margin-bottom: 100px;

// Z-indexes
$window-z-index: 1000;

// Colors
$white-color: #FFF;
$black-color: #2B2B2B;
$dark-color: #1B1B1B;
$cyan-color: #D6EAFC;
$blue-color: #0057FF;
$gray-light-color: #ECECEC;
$gray-color: #C7C7C7;
$gray-dark-color: #707070;
$button-color: #F2F2F2;
$text-color: #303031;
$background-color: #FEFEFE;
$red-color: #EB0F0F;

.anchor {
  &:hover {
    cursor: pointer;
  }
}

%window {
  $window-margin-top: 140px;
  $window-margin-bottom: 58px;

  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $window-z-index;

  .background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $black-color;
    opacity: 0.3;
  }

  .outer-window {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: $window-margin-top;

    .inner-window {
      $close-button-size: 60px;
      $back-button-size: 32px;

      background: $white-color;
      border-radius: 4px;
    }
  }
}

* {
  padding: 0;
  margin: 0;


  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    album-root {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
  }
}
