@use "src/base";

header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 56px;
  background-color: black;

  .container {
    display: flex;
    justify-content: right;
    min-width: base.$container-adaptive-full-hd-width;

    button {
      height: 50px;
      width: 100px;
    }
  }
}
